# Предобработка датасета

In [1]:
import numpy as np
import pandas as pd
from collections import Counter

answer_ls = [] # создадим список с ответами. сюда будем добавлять ответы по мере прохождения теста

data = pd.read_csv('./data.csv')
data['profit'] = data['revenue'] - data['budget']
data['release_month'] = data.release_date.apply(lambda s: str(s).split('/')[0])

#Некоторые общие функции
def idxmax(coll):
    for idx, val in enumerate(coll):
        if val == max(coll):
            return idx
    else:
        return None
    
def idxmin(coll):
    for idx, val in enumerate(coll):
        if val == min(coll):
            return idx
    else:
        return None
  
def get_most_val(data, col_name):
    var_counter = Counter()
    values = data[col_name].str.split('|')
    
    def add_to_counter(list_words):
        for word in list_words:
            var_counter[word] += 1
    
    values.apply(add_to_counter)
    return var_counter.most_common()[0][0]

def get_unique_list(data, col_name):
    unique_list = []
    for en in data[col_name]:
        unique_list.extend(en.split('|'))
    return pd.Series(unique_list).unique()

# 1. У какого фильма из списка самый большой бюджет?
Варианты ответов:
1. The Dark Knight Rises (tt1345836)
2. Spider-Man 3 (tt0413300)
3. Avengers: Age of Ultron (tt2395427)
4. The Warrior's Way	(tt1032751)
5. Pirates of the Caribbean: On Stranger Tides (tt1298650)

In [2]:
var_list = ['tt1345836','tt0413300','tt2395427','tt1032751','tt1298650']
var_data = data.loc[data['imdb_id'].isin(var_list)]
var_found = var_data.loc[var_data['budget'].idxmax()]
film_idx = var_list.index(var_found['imdb_id'])

display(var_found['original_title'])

answer_ls.clear()
answer_ls.append(4)

"The Warrior's Way"

# 2. Какой из фильмов самый длительный (в минутах)
1. The Lord of the Rings: The Return of the King	(tt0167260)
2. Gods and Generals	(tt0279111)
3. King Kong	(tt0360717)
4. Pearl Harbor	(tt0213149)
5. Alexander	(tt0346491)

In [3]:
var_list = ['tt0167260','tt0279111','tt0360717','tt0213149','tt0346491']
var_data = data.loc[data['imdb_id'].isin(var_list)]
var_found = var_data.loc[var_data['runtime'].idxmax()]
film_idx = var_list.index(var_found['imdb_id'])

display(var_found['original_title'])

answer_ls.append(2)

'Gods and Generals'

# 3. Какой из фильмов самый короткий (в минутах)
Варианты ответов:

1. Home on the Range	tt0299172
2. The Jungle Book 2	tt0283426
3. Winnie the Pooh	tt1449283
4. Corpse Bride	tt0121164
5. Hoodwinked!	tt0443536

In [4]:
var_list = ['tt0299172','tt0283426','tt1449283','tt0121164','tt0443536']
var_data = data.loc[data['imdb_id'].isin(var_list)]
var_found = var_data.loc[var_data['runtime'].idxmin()]
film_idx = var_list.index(var_found['imdb_id'])

display(var_found['original_title'])

answer_ls.append(3)

'Winnie the Pooh'

# 4. Средняя длительность фильма?

Варианты ответов:
1. 115
2. 110
3. 105
4. 120
5. 100

In [5]:
var_list = [115, 110, 105, 120, 100]
mean_runtime = round(data['runtime'].mean())
res_idx = var_list.index(mean_runtime)

display(mean_runtime)

answer_ls.append(2)

110

# 5. Средняя длительность фильма по медиане?
Варианты ответов:
1. 106
2. 112
3. 101
4. 120
5. 115

In [6]:
var_list = [106, 112, 101, 120, 115]
median_runtime = round(data['runtime'].median())
res_idx = var_list.index(median_runtime)

display(median_runtime)

answer_ls.append(1)

106

# 6. Какой самый прибыльный фильм?
Варианты ответов:
1. The Avengers	tt0848228
2. Minions	tt2293640
3. Star Wars: The Force Awakens	tt2488496
4. Furious 7	tt2820852
5. Avatar	tt0499549

In [7]:
var_list = ['tt0848228','tt2293640','tt2488496','tt2820852','tt0499549']
var_data = data.loc[data['imdb_id'].isin(var_list)]
var_found = var_data.loc[var_data['profit'].idxmax()]
film_idx = var_list.index(var_found['imdb_id'])

display(var_found['original_title'])

answer_ls.append(5)

'Avatar'

# 7. Какой фильм самый убыточный?
Варианты ответов:
1. Supernova tt0134983
2. The Warrior's Way tt1032751
3. Flushed Away	tt0424095
4. The Adventures of Pluto Nash	tt0180052
5. The Lone Ranger	tt1210819

In [8]:
var_list = ['tt0134983','tt1032751','tt0424095','tt0180052','tt1210819']
var_data = data.loc[data['imdb_id'].isin(var_list)]
var_found = var_data.loc[var_data['profit'].idxmin()]
film_idx = var_list.index(var_found['imdb_id'])

display(var_found['original_title'])

answer_ls.append(2)

"The Warrior's Way"

# 8. Сколько всего фильмов в прибыли?
Варианты ответов:
1. 1478
2. 1520
3. 1241
4. 1135
5. 1398

In [9]:
var_list = [1478, 1520, 1241, 1135, 1398]
num_films = data[data['profit'] > 0]['imdb_id'].nunique()
res_idx = var_list.index(num_films)

display(num_films)

answer_ls.append(1)

1478

# 9. Самый прибыльный фильм в 2008 году?
Варианты ответов:
1. Madagascar: Escape 2 Africa	tt0479952
2. Iron Man	tt0371746
3. Kung Fu Panda	tt0441773
4. The Dark Knight	tt0468569
5. Mamma Mia!	tt0795421

In [10]:
var_list = ['tt0479952','tt0371746','tt0441773','tt0468569','tt0795421']
var_data = data.loc[(data['imdb_id'].isin(var_list)) & (data['release_year'] == 2008)]
var_found = var_data.loc[var_data['profit'].idxmax()]
film_idx = var_list.index(var_found['imdb_id'])

display(var_found['original_title'])

answer_ls.append(4)

'The Dark Knight'

# 10. Самый убыточный фильм за период с 2012 по 2014 (включительно)?
Варианты ответов:
1. Winter's Tale	tt1837709
2. Stolen	tt1656186
3. Broken City	tt1235522
4. Upside Down	tt1374992
5. The Lone Ranger	tt1210819

In [11]:
var_list = ['tt1837709','tt1656186','tt1235522','tt1374992','tt1210819']
var_data = data.loc[(data['imdb_id'].isin(var_list)) & (data['release_year'] >= 2012) & (data['release_year'] <= 2014)]
var_found = var_data.loc[var_data['profit'].idxmin()]
film_idx = var_list.index(var_found['imdb_id'])

display(var_found['original_title'])

answer_ls.append(5)

'The Lone Ranger'

# 11. Какого жанра фильмов больше всего?
Варианты ответов:
1. Action
2. Adventure
3. Drama
4. Comedy
5. Thriller

In [12]:
var_list = ['Action','Adventure','Drama','Comedy','Thriller']
var_found = get_most_val(data, 'genres')
var_idx = var_list.index(var_found)

display(var_found)

answer_ls.append(3)

'Drama'

# 12. Какого жанра среди прибыльных фильмов больше всего?
Варианты ответов:
1. Drama
2. Comedy
3. Action
4. Thriller
5. Adventure

In [13]:
var_list = ['Drama','Comedy','Action','Thriller','Adventure']
var_found = get_most_val(data[data['profit'] > 0], 'genres')
var_idx = var_list.index(var_found)

display(var_found)

answer_ls.append(3)

'Drama'

# 13. Кто из режиссеров снял больше всего фильмов?
Варианты ответов:
1. Steven Spielberg
2. Ridley Scott 
3. Steven Soderbergh
4. Christopher Nolan
5. Clint Eastwood

In [14]:
var_list = ['Steven Spielberg','Ridley Scott','Steven Soderbergh','Christopher Nolan','Clint Eastwood']
var_found = get_most_val(data, 'director')
var_idx = var_list.index(var_found)

display(var_found)

answer_ls.append(3)

'Steven Soderbergh'

# 14. Кто из режиссеров снял больше всего Прибыльных фильмов?
Варианты ответов:
1. Steven Soderbergh
2. Clint Eastwood
3. Steven Spielberg
4. Ridley Scott
5. Christopher Nolan

In [15]:
var_list = ['Steven Soderbergh','Clint Eastwood','Steven Spielberg','Ridley Scott','Christopher Nolan']
var_found = get_most_val(data[data['profit'] > 0], 'director')
var_idx = var_list.index(var_found)

display(var_found)

answer_ls.append(2)

'Ridley Scott'

# 15. Кто из режиссеров принес больше всего прибыли?
Варианты ответов:
1. Steven Spielberg
2. Christopher Nolan
3. David Yates
4. James Cameron
5. Peter Jackson

In [16]:
var_list = ['Steven Spielberg','Christopher Nolan','David Yates','James Cameron','Peter Jackson']
director_unique_list = get_unique_list(data, 'director')
profit_list = []

for director in director_unique_list:
    profit_list.append(data[data['director'].str.contains(director)]['profit'].sum())

var_found = director_unique_list[idxmax(profit_list)]
var_idx = var_list.index(var_found)

display(var_found)

answer_ls.append(5)

'Peter Jackson'

# 16. Какой актер принес больше всего прибыли?
Варианты ответов:
1. Emma Watson
2. Johnny Depp
3. Michelle Rodriguez
4. Orlando Bloom
5. Rupert Grint

In [17]:
actors_list = ['Emma Watson','Johnny Depp','Michelle Rodriguez','Orlando Bloom','Rupert Grint']
profit_list = []

for actor in actors_list:
    profit_list.append(data[data['cast'].str.contains(actor)]['profit'].sum())

var_idx = idxmax(profit_list)
var_found = actors_list[var_idx]

display(var_found)

answer_ls.append(1)

'Emma Watson'

# 17. Какой актер принес меньше всего прибыли в 2012 году?
Варианты ответов:
1. Nicolas Cage
2. Danny Huston
3. Kirsten Dunst
4. Jim Sturgess
5. Sami Gayle

In [18]:
actors_list = ['Nicolas Cage','Danny Huston','Kirsten Dunst','Jim Sturgess','Sami Gayle']
profit_list = []

for actor in actors_list:
    profit_list.append(data[(data['cast'].str.contains(actor)) & (data['release_year'] == 2012)]['profit'].sum())

var_idx = idxmin(profit_list)
var_found = actors_list[var_idx]

display(var_found)

answer_ls.append(3)

'Kirsten Dunst'

# 18. Какой актер снялся в большем количестве высокобюджетных фильмов? (в фильмах где бюджет выше среднего по данной выборке)
Варианты ответов:
1. Tom Cruise
2. Mark Wahlberg 
3. Matt Damon
4. Angelina Jolie
5. Adam Sandler

In [19]:
actors_list = ['Tom Cruise','Mark Wahlberg','Matt Damon','Angelina Jolie','Adam Sandler']
data_high = data[data['budget'] > data['budget'].mean()]
film_counters = []

for actor in actors_list:
    film_counters.append(data_high[data_high['cast'].str.contains(actor)]['imdb_id'].nunique())

var_idx = idxmax(film_counters)
var_found = actors_list[var_idx]

display(var_found)

answer_ls.append(3)

'Matt Damon'

# 19. В фильмах какого жанра больше всего снимался Nicolas Cage?  
Варианты ответа:
1. Drama
2. Action
3. Thriller
4. Adventure
5. Crime

In [20]:
var_list = ['Drama','Action','Thriller','Adventure','Crime']
var_found = get_most_val(data[data['cast'].str.contains('Nicolas Cage')], 'genres')
var_idx = var_list.index(var_found)

display(var_found)

answer_ls.append(2)

'Action'

# 20. Какая студия сняла больше всего фильмов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [21]:
var_list = ['Universal Pictures','Paramount Pictures','Columbia Pictures','Warner Bros.','Twentieth Century Fox Film Corporation']
var_found = get_most_val(data, 'production_companies')
var_idx = var_list.index(var_found)

display(var_found)

answer_ls.append(1)

'Universal Pictures'

# 21. Какая студия сняла больше всего фильмов в 2015 году?
Варианты ответа:
1. Universal Pictures
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [22]:
var_list = ['Universal Pictures','Paramount Pictures','Columbia Pictures','Warner Bros.','Twentieth Century Fox Film Corporation']
var_found = get_most_val(data[data['release_year'] == 2015], 'production_companies')
var_idx = var_list.index(var_found)

display(var_found)

answer_ls.append(4)

'Warner Bros.'

# 22. Какая студия заработала больше всего денег в жанре комедий за все время?
Варианты ответа:
1. Warner Bros
2. Universal Pictures (Universal)
3. Columbia Pictures
4. Paramount Pictures
5. Walt Disney

In [23]:
var_list = ['Warner Bros.','Universal Pictures','Columbia Pictures','Paramount Pictures','Walt Disney']
profit_list = []

for studio in var_list:
    curr_data = data[(data['production_companies'].str.contains(studio)) & (data['genres'].str.contains('Comedy'))]
    profit_list.append(curr_data['profit'].sum())

var_idx = idxmax(profit_list)
var_found = var_list[var_idx]

display(var_found)

answer_ls.append(2)

'Universal Pictures'

# 23. Какая студия заработала больше всего денег в 2012 году?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Columbia Pictures
4. Paramount Pictures
5. Lucasfilm

In [24]:
var_list = ['Universal Pictures','Warner Bros.','Columbia Pictures','Paramount Pictures','Lucasfilm']
profit_list = []

for studio in var_list:
    curr_data = data[(data['production_companies'].str.contains(studio)) & (data['release_year'] == 2012)]
    profit_list.append(curr_data['profit'].sum())
    
var_idx = idxmax(profit_list)
var_found = var_list[var_idx]

display(var_found)

answer_ls.append(3)

'Columbia Pictures'

# 24. Самый убыточный фильм от Paramount Pictures
Варианты ответа:

1. K-19: The Widowmaker tt0267626
2. Next tt0435705
3. Twisted tt0315297
4. The Love Guru tt0811138
5. The Fighter tt0964517

In [25]:
var_list = ['tt0267626','tt0435705','tt0315297','tt0811138','tt0964517']
data_pp = data[data['production_companies'].str.contains('Paramount Pictures')]
var_found = data_pp.loc[data_pp['profit'].idxmin()]

var_idx = var_list.index(var_found['imdb_id'])
var_found = var_found['original_title']

display(var_found)

answer_ls.append(1)

'K-19: The Widowmaker'

# 25. Какой Самый прибыльный год (заработали больше всего)?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2002
5. 2015

In [26]:
gr_data = data.groupby(['release_year'])['profit'].sum()
max_year = gr_data.idxmax()
display(max_year)

answer_ls.append(5)

2015

# 26. Какой Самый прибыльный год для студии Warner Bros?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2010
5. 2015

In [27]:
data_wb = data[data['production_companies'].str.contains('Warner Bros')]
gr_data = data_wb.groupby(['release_year'])['profit'].sum()
max_year = gr_data.idxmax()
display(max_year)

answer_ls.append(1)

2014

# 27. В каком месяце за все годы суммарно вышло больше всего фильмов?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [28]:
gr_data = data.groupby(['release_month'])['imdb_id'].count().sort_values(ascending=False)
max_month = gr_data.index[0]
display(max_month)

answer_ls.append(4)

'9'

# 28. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)
Варианты ответа:
1. 345
2. 450
3. 478
4. 523
5. 381

In [29]:
summer_months = ['6', '7', '8']
winter_months = ['12', '1', '2']

gr_data = data.groupby(['release_month'])['imdb_id'].count()
num_films = gr_data.loc[summer_months].sum()
display(num_films)

answer_ls.append(2)

450

# 29. Какой режисер выпускает (суммарно по годам) больше всего фильмов зимой?
Варианты ответов:
1. Steven Soderbergh
2. Christopher Nolan
3. Clint Eastwood
4. Ridley Scott
5. Peter Jackson

In [30]:
var_list = ['Steven Soderbergh','Christopher Nolan','Clint Eastwood','Ridley Scott','Peter Jackson']
num_films_list = []

for director in var_list:
    curr_data = data[(data['release_month'].isin(winter_months)) & (data['director'].str.contains(director))]
    num_films_list.append(len(curr_data))

var_idx = idxmax(num_films_list)
var_found = var_list[var_idx]

print(var_found)

answer_ls.append(5)

Peter Jackson

# 30. Какой месяц чаще всего по годам самый прибыльный?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [31]:
pivot = data.pivot_table(
    values=['profit'],
    index=['release_month'],
    columns=['release_year'],
    aggfunc='sum',
    fill_value=0,
    margins=False)

max_month = pivot.idxmax().value_counts().idxmax()
display(max_month)

answer_ls.append(2)

'6'

# 31. Названия фильмов какой студии в среднем самые длинные по количеству символов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [32]:
var_list = ['Universal Pictures','Warner Bros.','Jim Henson Company, The','Paramount Pictures','Four By Two Productions']
num_syms_list = []

for studio in var_list:
    curr_data = data[data['production_companies'].str.contains(studio)]
    lens = curr_data['original_title'].apply(lambda s: len(str(s)))
    num_syms_list.append(lens.mean())

var_idx = idxmax(num_syms_list)
var_found = var_list[var_idx]

display(var_found)

answer_ls.append(5)

'Four By Two Productions'

# 32. Названия фильмов какой студии в среднем самые длинные по количеству слов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [33]:
var_list = ['Universal Pictures','Warner Bros.','Jim Henson Company, The','Paramount Pictures','Four By Two Productions']
num_words_list = []

for studio in var_list:
    curr_data = data[data['production_companies'].str.contains(studio)]
    lens = curr_data['original_title'].apply(lambda s: len(str(s).split(' ')))
    num_words_list.append(lens.mean())

var_idx = idxmax(num_words_list)
var_found = var_list[var_idx]

display(var_found)

answer_ls.append(5)

'Four By Two Productions'

# 33. Сколько разных слов используется в названиях фильмов?(без учета регистра)
Варианты ответа:
1. 6540
2. 1002
3. 2461
4. 28304
5. 3432

In [34]:
diff_words = []

def add_word(s):
    diff_words.extend([i.lower() for i in str(s).split(' ')])

data['original_title'].apply(add_word)
num_diff_words = pd.Series(diff_words).nunique()
display(num_diff_words)

answer_ls.append(3)

2462

# 34. Какие фильмы входят в 1 процент лучших по рейтингу?
Варианты ответа:
1. Inside Out, Gone Girl, 12 Years a Slave
2. BloodRayne, The Adventures of Rocky & Bullwinkle
3. The Lord of the Rings: The Return of the King
4. 300, Lucky Number Slevin

In [35]:
sort_data = data[['original_title','vote_average']].sort_values(by=['vote_average'],ascending=False)
num_best_films = round(len(data) * 0.01) # 1%
sort_data = sort_data.iloc[:num_best_films]

films_list = [['Inside Out','Gone Girl','12 Years a Slave'],
              ['BloodRayne','The Adventures of Rocky and Bullwinkle'],
              ['The Lord of the Rings: The Return of the King','Upside Down'],
              ['300','Lucky Number Slevin'],
              ['Upside Down','300','Inside Out','The Lord of the Rings: The Return of the King']]

check_list = []
for films_set in films_list:
    check = True
    for film in films_set:
        curr_data = sort_data[sort_data['original_title'].str.contains(film)]
        check &= len(curr_data) > 0
    if (check): 
        check_list.append(films_set)
    
display(check_list)

answer_ls.append(1)

[['Inside Out', 'Gone Girl', '12 Years a Slave']]

# 35. Какие актеры чаще всего снимаются в одном фильме вместе
Варианты ответа:
1. Johnny Depp & Helena Bonham Carter
2. Hugh Jackman & Ian McKellen
3. Vin Diesel & Paul Walker
4. Adam Sandler & Kevin James
5. Daniel Radcliffe & Rupert Grint

In [36]:
pairs_list = [['Johnny Depp','Helena Bonham Carter'],
              ['Hugh Jackman','Ian McKellen'],
              ['Vin Diesel','Paul Walker'],
              ['Adam Sandler','Kevin James'],
              ['Daniel Radcliffe','Rupert Grint']]

num_films_list = []
for pair in pairs_list:
    curr_data = data[(data['cast'].str.contains(pair[0])) & (data['cast'].str.contains(pair[1]))]
    num_films_list.append(len(curr_data))
                                                              
pair = pairs_list[idxmax(num_films_list)]

display(pair)

answer_ls.append(5)

['Daniel Radcliffe', 'Rupert Grint']

# 36. У какого из режиссеров выше вероятность выпустить фильм в прибыли? (5 баллов)101
Варианты ответа:
1. Quentin Tarantino
2. Steven Soderbergh
3. Robert Rodriguez
4. Christopher Nolan
5. Clint Eastwood

In [37]:
var_list = ['Quentin Tarantino','Steven Soderbergh','Robert Rodriguez','Christopher Nolan','Clint Eastwood']
prob_list = []

for director in var_list:
    curr_data = data[data['director'].str.contains(director)]
    prob_list.append(len(curr_data[curr_data['profit'] > 0]) * 100 / len(curr_data))

var_idx = idxmax(prob_list)
var_found = var_list[var_idx]

display(var_found)

answer_ls.append(4)

'Christopher Nolan'

# Submission

In [38]:
len(answer_ls)

36

In [39]:
pd.DataFrame({'Id':range(1,len(answer_ls)+1), 'Answer':answer_ls}, columns=['Id', 'Answer'])

    Id  Answer
0    1       4
1    2       2
2    3       3
3    4       2
4    5       1
5    6       5
6    7       2
7    8       1
8    9       4
9   10       5
10  11       3
11  12       3
12  13       3
13  14       2
14  15       5
15  16       1
16  17       3
17  18       3
18  19       2
19  20       1
20  21       4
21  22       2
22  23       3
23  24       1
24  25       5
25  26       1
26  27       4
27  28       2
28  29       5
29  30       2
30  31       5
31  32       5
32  33       3
33  34       1
34  35       5
35  36       4